@font-face {
 font-family: "Cormorant Unicase";
 src: 
   url("./Cormorant_Unicase/CormorantUnicase-Medium.ttf");
}

@font-face {
 font-family: "Cormorant Unicase";
 font-weight: bold;
 src: 
   url("./Cormorant_Unicase/CormorantUnicase-Bold.ttf");
}

@font-face {
 font-family: "Playfair Display";
 src: 
   url("./Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
 font-family: "Playfair Display";
 font-style: italic;
 src: 
   url("./Playfair_Display/static/PlayfairDisplay-Italic.ttf");
}

@font-face {
 font-family: "Playfair Display";
  font-weight: bold;
 src: 
   url("./Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}


body {
  font-family: 'Playfair Display', serif; 
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p.lead {
  font-family: 'Cormorant Unicase', serif;
}

a, .nav-link, .nav-link:hover, .nav-link:active, .nav-link:focus {
  color:black;
}

a:hover, a:active, a:checked, a:focus {
  color:black;
  text-decoration: underline #4bd7ea 0.7em;
  text-underline-offset: -0.8em;
  text-decoration-skip-ink: none;
}

.nav-link.active {
  text-decoration: underline #4bd7ea 0.7em;
  text-underline-offset: -0.8em;
  text-decoration-skip-ink: none;
}

.c-typo {
  color: #18BBD1;
  font-family: 'Cormorant Unicase', serif;
  font-size: 15em;
  position: absolute;
  z-index: -10;
  line-height: 1em;
}

.c-typo-petit {
  font-size: 30em;
}

.c-typo-pos1 {
  top:-0.1em;
  left:40%;
}

.c-typo-pos2 {
  top:1.5em;
  left:10%;
}

.c-typo-pos3 {
  top:3em;
  left:70%;
}

.c-typo-pos4 {
  top:4.5em;
  left:50%;
}

.c-image-in-text-portrait-right {
  max-width: 50%;
  position: relative;
  left:25%;
  margin-left: -25%;
  padding-left: 2em;
}

.c-image-in-text-portrait-left {
  max-width: 50%;
  position: relative;
  right:25%;
  margin-right: -25%;
  padding-right: 2em;
}